# Fisiere Python
fontend
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.env

# Virtualenv
env/
venv/
ENV/
VENV/
.virtualenv/

# Configurari IDE si editori
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Sistem de operare
.DS_Store
Thumbs.db

# Django
db.sqlite3
*.sqlite3
/media/
*.log
/staticfiles/
staticfiles/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fisiere pentru deployment
*.local_settings.py
.env
.env.*
secret_key.txt

# Fișiere generate de pip-tools (dacă le folosești)
*.lock
*.bak

# Fișiere generate de Docker (dacă folosești)
*.pid
docker-compose.override.yml

# Fișiere pentru testing
coverage/
*.cover
*.py,cover
htmlcov/
.tox/
noxfile
.nox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.log


# Configurari IDE si editori
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Sistem de operare
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Vite
dist/
.vite/